---
import CardAddPhoto from "../../components/CardAddPhoto";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cabieses App">
  <main class="w-full h-screen static">
    <div class="w-full h-screen flex flex-col justify-center items-center">
        <div class="h-full flex flex-col justify-center items-center">
            <p class="text-[#656565] pb-4">Crear Nuevo Reporte</p>
            <a href="/Frm1" class="flex flex-col justify-center items-center bg-[#E7E7E7] w-[80px] h-[80px] rounded-lg">
                <span class="material-symbols-outlined text-[48px] text-[#656565] hover:text-[#005b1c]">add_notes</span>
            </a>
        </div>
        <CardAddPhoto />
        <a href="/" class="flex gap-2 absolute top-4 left-6 text-[#656565] hover:text-[#005b1c]">
            <span class="material-symbols-outlined span">keyboard_tab_rtl</span>
            <p>Atrás</p>
        </a>
        
    </div>
  </main>
</Layout>

<style>
  * {
    text-decoration: none;
    list-style: none;
  }
</style>
