---
import CardButton from "../components/CardButton.astro";
---


  <main>
    <div class="link-card-grid">
		<CardButton
		  href="/reporte"
		  icon1="info"
		  icon2="add_circle"
		  title="Reporte"
		  btn="NUEVO"
		/>
      <CardButton
        href="/Notfound"
        icon1="build_circle"
        icon2="add_circle"
        title="Servicio Técnico"
        btn="NUEVO"
      />
      <CardButton
        href="/Notfound"
        icon1="playlist_add_check_circle"
        icon2="visibility"
        title="Historial de Servicios"
        btn="VER"
      />
    </div>
  </main>


<style>
  * {
    text-decoration: none;
    list-style: none;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
</style>